<html>
    <head>
        <title>Some HTML in here</title>
        <link type="text/css" href="/static/index.css" rel="stylesheet">
    </head>
    <body>
        <textarea class="text"> </textarea>
        <button class="classify">Classify</button>
        <div id="response" class="is_hidden">
            <span id="sentiment"></span> with probability <span id="probability"></span>
        </div>
        <div id="feedback" class="is_hidden">
            <button id="correct">Correct</button>
            <button id="wrong">Wrong</button>
        </div>
        <script src="/static/main.js"></script>

    </body>
</html>